<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            Main Header
        </header>

        {{{body}}}
        <script>
            console.log('--- From body ---')
        </script>
        <script src="/js/helpers.js"></script>
    </body>
</html>